<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.cook.android" xmlns:android="http://schemas.android.com/apk/res/android" >
    <uses-sdk android:minSdkVersion="21"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application
        android:label="Cook Android"
        android:icon="@drawable/ic_launcher"
        android:hasCode="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:screenOrientation="landscape"
        android:configChanges="keyboardHidden|orientation|screenSize">

        <activity android:name="android.app.NativeActivity">
            <meta-data android:name="android.app.lib_name" android:value="app"/>
            <meta-data android:name="android.app.func_name" android:value="android_main"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
