@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: #{$small-breakpoint}) and (max-width: #{$medium-breakpoint}){
    @content;
  }
}

@mixin tiny {
  @media screen and (max-width: #{$small-breakpoint}) {
    @content;
  }
}

//

.description {
  margin-top: 40px;
}

.description > p {
  margin: 0;

  @include tiny {
    display: inline;
  }
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}

.docs-nav {
  padding-top: 40px;

  @include large {
    width: 20%;
    display: inline-block;
    margin-right: -0.3rem;
    vertical-align: top;
  }

  ul {
    list-style: none;
    padding-left: 0;

    ul {
      padding-left: 20px;
    }
  }
}

.docs-content {
  @include large {
    width: 80%;
    display: inline-block;
  }

  margin-bottom: 20px;

  //img {
  //  width: 100%;
  //}
}

.hero {
  background-image: url("/img/gear.svg");
  background-size: 100% 100%;
  width: 300px;
  height: 300px;
  padding: 70px 0;
  margin: 0 auto;

  h1 {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

a.button {
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 2rem;
  color: #fff;
  padding: 0.75rem 2rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  display: inline-block;

  //-webkit-box-shadow: 2px 7px 27px 0 rgba(0,0,0,0.24);
  //-moz-box-shadow: 2px 7px 27px 0 rgba(0,0,0,0.24);
  //box-shadow: 2px 7px 27px 0 rgba(0,0,0,0.24);

  box-shadow: 5px 10px 25px 0px rgba(0, 0, 0, 0.2)
}

.jump-target::before {
  content: "";
  display: block;
  height: 50px;
  margin-top: -50px;
}

.features {
  padding-top: 20px;
  padding-bottom: 20px;
}

.feature {
  .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 12px;
    background: url("/img/icons.png");
    background-size: 120px 120px;
    top: 6px;
    position: relative;
  }

  .icon.plus {
    background-position: 0 0;
  }

  .icon.power {
    background-position: -40px 0;
  }

  .icon.eye {
    background-position: -80px 0;
  }

  .icon.bolt {
    background-position: 0 -40px;
  }

  .icon.bag {
    background-position: -40px -40px;
  }

  .icon.check {
    background-position: -80px -40px;
  }

  .icon.plane {
    background-position: 0 -80px;
  }

  .icon.file {
    background-position: -84px -80px;
  }

  .icon.heart {
    background-position: -80px -80px;
  }

  p {
    padding-left: 52px;
  }

  a {
    color: #aaa;
  }

  width: 33.3333%;

  @include small {
    width: 50%;
  }

  @include tiny {
    width: 100%;
  }

  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: -0.3rem;

  h2 {
    margin: 0;
  }
}

.anchor-hash {
  opacity: 0.3;
  margin-left: 0.8rem;
}

a.button:hover {
  text-decoration: none;
}

.content {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  max-width: 1200px;

  //@include large {
  //  width: 1080px;
  //}
  //
  //@include medium {
  //  width: 900px;
  //}

  //@include small {
  //  max-width: 720px;
  //  padding-left: 10px;
  //  padding-right: 10px;
  //}
}

.editor {
  padding: 30px 0;
}

figure.highlight {
  margin: 0;
}

.editor-menu {
  background-color: $primary;
  border-radius: 5px 5px 0 0;
}

p {
  margin-top: 0;
}

.editor-filename {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #ffffff;
  font-weight: 600;
  padding: 0.8rem;
  display: inline-block;
}

.editor-button {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-right: -2px;
  margin-bottom: 2px;
}

.editor-content pre {
  background-color: #eeeeee;
  border: solid $primary;

  code {
    font-size: 13pt;
  }
}

.editor-content .highlight {
  margin-bottom: 0;
}

.container.light-grey {
  background-color: #f6f6f6;
}

.container.grey {
  background-color: #eee;
}

.nav-logo {
  height: 50px;
  display: block;
}

.nav-logo-container {
  float: left;
}

nav > ul {
  margin: 0;
}

.nav-entries {
  float: right;
  font-size: 14pt;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    li {
      display: inline-block;
      padding: 10px 0;
      height: 50px;

      a {
        color: #fff;
        margin: 16px;
      }
    }

    li.active {
      //background-color: rgba(256, 256, 256, 0.2);
    }
  }

  @include small {
    display: none;
  }

  @include tiny {
    display:none
  }
}

.quote-attribution {
  text-align: center;
  color: #888;
  display: block;
  font-size: 12pt;
}

.quote {
  text-align: center;
  font-size: 20pt;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;

  a {
    color: inherit;
  }
}

#search-input {
  display: inline-block;
  background-image: url("/img/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 3px;
  padding-left: 30px;
  //background-color: #558fc5;
  background-color: #4a83d6;
  border: solid;
  border-color: $primary;
  border-width: 1px;
  border-radius: 23px;
  width: 200px;
  transition: border-color 0.15s, box-shadow 0.15s;
  margin-left: 16px;
}

#markdown-toc {
  list-style: none;
  border-left: solid 5px $primary;
  padding-left: 0;

  li {
    padding-left: 10px;
  }
}

#search-input:focus {
  border-color: white;
  outline: none;
  box-shadow: 0 0 1px 0 white;
}

#nav-dropdown {
  background-color: $primary;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0;
      //height: 50px;

      a {
        color: #fff;
        margin: 16px;
      }
    }
  }

  #search-input {
    margin: 5px 0 10px 16px;
  }
}

#nav-dropdown.show {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}


.nav-toggle {
  display: none;
  float: right;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include small {
    display: block;
  }

  @include tiny {
    display: block;
  }
}

//

* {
  box-sizing: border-box;
}

body {
  //margin: 50px 0 0 0;
  padding-top: 50px;
  //margin: 50px 0 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.subheader {
  color: $subheader-color;
  background-color: $subheader-bg-color;
  padding-top: 12pt;
  padding-bottom: 12pt;
}

.subheader-name {
  font-size: 24pt;
}

.page-header {
  color: $header-heading-color;
  //text-align: center;
  background-color: $primary;
  //background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  /*@include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }*/

  position: fixed;
  z-index: 9001;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

main {
  word-wrap: break-word;
  min-height: 100%;
  overflow: hidden;

  //:first-child {
  //  margin-top: 0;
  //}


  //@include large {
  //  max-width: 1100px;
  //  padding: 2rem 0;
  //  font-size: 1.1rem;
  //}


  /*
  margin-right: auto;
  margin-left: auto;

  @include large {
    width: 1100px;
  }

  @include medium {
    width: 900px;
  }

  @include small {
    width: 700px;
  }
  */

  //@include medium {
  //  max-width: 900px;
  //  padding: 2rem 0rem;
  //  font-size: 1.1rem;
  //}
  //
  //@include small {
  //  max-width: 700px;
  //  padding: 2rem 10px;
  //  font-size: 1rem;
  //}
  //
  //img {
  //  max-width: 100%;
  //}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    //margin-bottom: 0;
    font-weight: normal;
    color: $section-headings-color;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    //border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    //border: solid 1px $border-color;
    //border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    //border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;

    .active {
      > a {
        color: #000;
        font-weight: bold;
      }
    }
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

main {
  min-height: calc(100% - 50px);
  //margin-bottom: -80px;
}

//footer, .push {
//  height: 80px;
//}

footer {
  background-color: $primary;
  color: white;
  //height: 50px;
  //line-height: 50px;
  //margin-top: -80px;
  text-align: center;
  min-height: 50px;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 13px 10px;
  }

  //@include large {
  //  font-size: 1rem;
  //}
  //
  //@include medium {
  //  font-size: 1rem;
  //}
  //
  //@include small {
  //  font-size: 0.9rem;
  //}
}
