// Breakpoints
$large-breakpoint: 1200px !default;
$medium-breakpoint: 950px !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #336cbf !default;
$header-bg-color-secondary: #336cbf !default;

// Text
$section-headings-color: #1e63a9 !default;
$body-text-color: #444 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// NEW
$subheader-color: #fff;
$subheader-bg-color: #529acc;
